.search_by_name {
  margin: 0 -5px 0 0;
  border-right: 0;
  width: 250px;
  border-color: #d0d2d2;
  border-width: 1px;
  border: 1px solid #f75a57 !important;
}
.input-error {
  color: red;
}
.friendtitle {
  color: #777a7b;
}
